@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    transition: all 0.2s;
}

body {
    background-color: #fff;
    margin: 0;
    margin-top: 3.7em;
    font-family: 'Raleway', sans-serif;
}
.nouline {
    text-decoration: none;
}
.defaultcolor {
    color: inherit;
}
.ulineonhover:hover {
    text-decoration: underline;
}
div.top {
    background-color: rgba(255, 255, 255, 0.92);
    position: fixed;
    top: 0;
    text-align: right;
    color: #029;
    font-size: 0.8em;
    padding: 2%;
    width: 96%;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1;
    border-bottom: 1px dotted black;
}
div.top span {
    letter-spacing: 0.2em;
    padding: 1%;
    display: block;
}
div.top span .side {
    text-transform: lowercase;
    font-family: 'Oxygen', monospace;
    font-size: 0.9em;
    color: rgb(5, 148, 255);
    padding: 0.9em;
    border: 1px solid rgb(5, 148, 255);
}
div.top span .side:hover {
    background-color: rgb(5, 148, 255);
    color: #fff;
}
div.errormsg {
    color: #fff;
    letter-spacing: 2px;
    background-color: rgba(255, 11, 11, 0.8);
    font-family: 'Oxygen', serif;
}
div.lay {
    width: 100%;
    text-align: center;
}
div.overlay {
    color: #000;
    letter-spacing: 2px;
    width: 84%;  
    padding: 8%;
    font-size: 1.2em;
    font-family: 'Oxygen', serif;
}
div.overlay.head {
    text-align: left;
    font-size: 2.0em;
    letter-spacing: 5px;
}
img.github:hover {
    background-color: #ccc;
    border-radius: 50%;
}
div.content {
    min-height: 60vh;
    text-align: center;
}
div.content p {
    font-size: 1.4em;
    text-transform: lowercase;
    font-family: 'Oxygen', serif;
    letter-spacing: 2px;
}
form {
    display: inline;
}
input {
    transition: all 0.2s;
    border: none;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border-bottom: 1px solid #000;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 0;
}
input:focus {
    border-bottom: 2px solid rgb(128, 0, 128);
    font-size: 1.65em;
}
input[type=submit] {
    background-color: none;
    border-bottom: none;
    padding: 0.5%;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px #999;
    border: 2px solid #999;
    margin: 2%;
}
input[type=submit]:hover {
    background-color: #aaa;
    box-shadow: 0 0 1px #999;
    border: 2px solid #999;
}
input[type=submit]:disabled:hover {
    background-color: rgba(0, 0, 0, 0);
}
small.passwordreset {
    display: block;
    margin-bottom: 5%;
}
div.foot {
    max-width: 100%;
    background-color: #eee;
    padding: 2em;
    text-align: center;
    letter-spacing: 1px;
    color: #333;
}
div.foot a.projectlink {
    text-transform: lowercase;
}
div.foot a:hover {
    text-decoration: none;
}