@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #fff;
    margin: 0;
    margin-top: 3.2em;
    font-family: 'Raleway';
}
div.top {
    background-color: rgba(255, 255, 255, 0.87);
    position: fixed;
    top: 0;
    text-align: right;
    color: #029;
    font-size: 1em;
    padding: 2%;
    width: 96%;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1;
}
div.top span {
    letter-spacing: 0.2em;
    padding: 2%;
    border-bottom: 1px dotted black;
    display: block;
}
div.lay {
    width: 100%;
    text-align: center;
}
div.overlay {
    color: #000;
    letter-spacing: 2px;
    width: 80%;  
    padding: 10%;
    font-size: 1.2em;
    font-family: 'Oxygen';
}
img.github:hover {
    background-color: #ccc;
    border-radius: 50%;
}